a:link {
  color: black;
}
/* visited link */
a:visited {
  color: #c0c0c0;
}
.footnote{
    font-size: 0.8em;
}

body {
  margin: 0;
  padding: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #5e5e5e;
  text-align: left;
  margin-bottom: 10px;
}


/*
 * Formatting the header area
 */
    
header {
  background-color: #DFB887;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;

}

.redText
{
    color: #ea300b;
}

div.istruzioni {
     font-size: 0.9em;
   /* font-family: Monaco, monospace;
    background-color: #DFB887;*/
      margin-left: 30%;
      margin-right: 30%;
      margin-top: 40px;
      margin-bottom: 40px;
     text-align: justify; 
}
div.testo {
    font-size: 1.2em;
    font-family: Monaco, monospace;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: justify;
}

div.snippet {

    font-size: 1.0em;
    font-family: Monaco, monospace;
    font-style: italic;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.form-control{
    width: 80%;
    height: 80px;
}


input[type="button"], input[type="submit"] {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:7px;
}
input[type="button"]:hover, input[type="submit"]:hover {
  background-color: #ff7d78;
}

/*